.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
id_rsa
id_rsa.pub
terraform.tfstate
terraform.tfstate.backup
.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.40.0/darwin_amd64/terraform-provider-azurerm_v3.40.0_x5
.DS_Store
env/
.env*

tarraform/.terraform
tarraform/.terraform.lock.hcl
tarraform/.terraform.tfstate.lock.info
tarraform/id_rsa
tarraform/id_rsa.pub
tarraform/terraform.tfstate
tarraform/terraform.tfstate.backup

temp
